//
//  Config.xcconfig
//  Netflox
//
//  Created by Mack Rafael on 12/07/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

YOUTUBE_API_KEY = AIzaSyDb22CanmE2mC-f6u5lpPRX1e5HRqlewEI
API_KEY = b5efc0f4ccd05a48c9fff9d7ae3c1411
